.bg-blue {
    background-color: #0d6efd !important;
}

.bg-indigo {
    background-color: #6610f2 !important;
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.bg-pink {
    background-color: #d63384 !important;
}

.bg-red {
    background-color: #dc3545 !important;
}

.bg-orange {
    background-color: #fd7e14 !important;
}

.bg-yellow {
    background-color: #ffc107 !important;
}

.bg-green {
    background-color: #198754 !important;
}

.bg-teal {
    background-color: #20c997 !important;
}

.bg-cyan {
    background-color: #0dcaf0 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray {
    background-color: #6c757d !important;
}

.bg-gray-dark {
    background-color: #343a40 !important;
}

.bg-primary {
    background-color: #0d6efd !important;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.bg-success {
    background-color: #198754 !important;
}

.bg-info {
    background-color: #0dcaf0 !important;
}

.bg-warning {
    background-color: #ffc107 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #212529 !important;
}

.text-blue {
    color: #0d6efd !important;
}

.text-indigo {
    color: #6610f2 !important;
}

.text-purple {
    color: #6f42c1 !important;
}

.text-pink {
    color: #d63384 !important;
}

.text-red {
    color: #dc3545 !important;
}

.text-orange {
    color: #fd7e14 !important;
}

.text-yellow {
    color: #ffc107 !important;
}

.text-green {
    color: #198754 !important;
}

.text-teal {
    color: #20c997 !important;
}

.text-cyan {
    color: #0dcaf0 !important;
}

.text-white {
    color: #fff !important;
}

.text-gray {
    color: #6c757d !important;
}

.text-gray-dark {
    color: #343a40 !important;
}

.text-primary {
    color: #0d6efd !important;
}

.text-secondary {
    color: #6c757d !important;
}

.text-success {
    color: #198754 !important;
}

.text-info {
    color: #0dcaf0 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #212529 !important;
}

/* [ base ] */

.va-base {
    position: absolute;
    z-index: 99999;
}
