
.vc-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
}

    .vc-icon:hover {
        border-color: orangered;
        color: orangered;
    }

    .vc-icon .__ic_text {
        display: none;
        cursor: pointer;
    }

    .vc-icon.__active {
    }

    .vc-icon .__ic_loading {
        display: none;
    }

    .vc-icon.__updating.__img_loading .__ic_loading {
        display: block;
    }

    .vc-icon.__updating.__img_loading .__ic_icon {
        display: none;
    }

    .vc-icon.__btn {
        width: 20px;
        height: 20px;
        border: 1px solid #ccc;
        padding: 6px;
    }

    .vc-icon.__text {
        width: auto;
        padding: 5px 6px 2px;
    }

        .vc-icon.__text.__btn {
        }

        .vc-icon.__text .__ic_icon {
            float: left;
            width: 18px;
            margin-right: 4px;
        }

        .vc-icon.__text .__ic_text {
            display: inline-block;
            float: left;
        }

    .vc-icon.ui-icon--check.__active {
        width: 14px;
        padding: 4px 5px 0 5px;
        height: 20px;
        overflow: hidden;
    }

    .vc-icon.ui-icon--check.__text:not(.__active) {
        background-color: gray;
        padding: 1px 5px 0 0px;
    }

        .vc-icon.ui-icon--check.__text:not(.__active) .__ic_icon {
            width: 24px;
            margin-right: 0;
        }

        .vc-icon.ui-icon--check.__text:not(.__active) .__ic_text {
            padding-top: 3px;
        }

    .vc-icon.ui-icon--check.__text.__active {
        width: auto;
        background-color: gray;
        padding-bottom: 1px;
    }

        .vc-icon.ui-icon--check.__text.__active .__ic_icon {
            width: 14px;
            padding-top: 2px;
            padding-left: 0;
            padding-right: 1px;
        }

    .vc-icon .__ic_text,
    .vc-icon .__ic_icon {
        cursor: pointer;
    }

body.__ie11 .vc-icon.ui-icon--check.__text.__active .__ic_text {
    padding-top: 2px;
}

body.__ie11 .vc-icon.ui-icon--check.__active {
    padding-top: 2px;
    padding-bottom: 2px;
}

body.__ie11 .vc-icon.ui-icon--check.__text.__active {
    padding-bottom: 3px;
}
