

.vc-text {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .vc-text .__in-label {
        display: none;
        font-size: 1rem;
        padding: 6px 5px 4px;
    }

    .vc-text.__readonly .__in-label {
        display: inline-block;
        opacity: 0.7;
    }

    .vc-text .__in-icon {
        margin-left: 7px;
        height: 11px;
        width: 14px;
    }

    .vc-text.__icon_align_right .__in-icon {
        position: absolute;
        right: 8px;
        top: 6px;
    }

    .vc-text .__in-icon .__ic_icon {
        height: 14px;
    }


    .vc-text .__in-input {
    }
